.affair {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.affair * {
  padding: 5px;
}

.high {
  background: green;
}

.middle {
  background: orange;
}

.low {
  background: red;
}

.name {
  flex-grow: 1;
  text-align: center;
  font-weight: 700;
}

.priority {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 12px;
}

.button {
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
